aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.9.0
attrs==25.4.0
audioop-lts==0.2.2
Authlib==1.3.1
babel==2.17.0
backrefs==5.9
beautifulsoup4==4.14.3
black==25.9.0
blinker==1.9.0
cachetools==5.5.2
cartesia==3.0.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
coincurve==21.0.0
colorama==0.4.6
contourpy==1.3.3
coverage==7.10.7
cryptography==45.0.2
curl_cffi==0.13.0
cycler==0.12.1
Deprecated==1.3.1
deprecation==2.1.0
dill==0.4.0
distro==1.9.0
et_xmlfile==2.0.0
fastapi==0.134.0
filelock==3.18.0
flake8==7.3.0
fonttools==4.60.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.5.1
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
groq==1.0.0
grpcio==1.71.0
grpcio-health-checking==1.71.0
grpcio-tools==1.71.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.32.2
hyperframe==6.1.0
idna==3.10
iniconfig==2.1.0
instaloader==4.14.1
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
limits==5.8.0
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.7
mccabe==0.7.0
mcp==1.25.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.21
mkdocs-material-extensions==1.3.1
mmh3==5.2.0
mpmath==1.3.0
multidict==6.7.1
multitasking==0.0.12
mypy==1.18.2
mypy_extensions==1.1.0
narwhals==2.8.0
networkx==3.5
numpy==2.2.6
oauthlib==3.2.2
openpyxl==3.1.5
packaging==25.0
paginate==0.5.7
pandas==2.3.0
pathspec==0.12.1
patsy==1.0.1
peewee==3.18.3
pillow==11.2.1
platformdirs==4.5.0
plotly==6.3.1
pluggy==1.6.0
postgrest==2.28.0
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.4
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.22
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pyflakes==3.4.0
Pygments==2.19.1
pyiceberg==0.11.0
PyJWT==2.10.1
pylatexenc==2.10
pymdown-extensions==10.16.1
pynostr==0.6.2
pyparsing==3.2.3
pyroaring==1.0.3
pytest==8.4.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.21
pytokens==0.1.10
pytz==2025.2
pywin32==311
PyYAML==6.0.2
pyyaml_env_tag==1.1
qiskit==1.4.5
qiskit-machine-learning==0.8.4
realtime==2.28.0
referencing==0.37.0
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.0.0
rpds-py==0.27.1
rsa==4.9.1
rustworkx==0.17.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
sentence-transformers==4.1.0
setuptools==80.8.0
shellingham==1.5.4
six==1.17.0
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
sse-starlette==3.2.0
starlette==0.52.1
statsmodels==0.14.5
stevedore==5.5.0
storage3==2.28.0
streamlit==1.50.0
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.28.0
supabase-auth==2.28.0
supabase-functions==2.28.0
symengine==0.13.0
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tlv8==0.10.0
tokenizers==0.21.1
toml==0.10.2
torch==2.7.0
tornado==6.5.1
tqdm==4.67.1
transformers==4.52.3
twilio==9.10.2
typer==0.16.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.40.0
validators==0.34.0
watchdog==6.0.0
weaviate-client==4.14.4
websockets==15.0.1
wrapt==2.1.2
xlsxwriter==3.2.9
yarl==1.22.0
yfinance==0.2.66
zstandard==0.25.0
